---
import MainLayout from "../layouts/MainLayout.astro";
import { Card, Row, Col, Statistic, Table } from "antd";
import {
  UserOutlined,
  ShoppingOutlined,
  FileTextOutlined,
  ClockCircleOutlined,
} from "@ant-design/icons";
---

<MainLayout title="Дашборд | Visa CRM">
  <h1>Дашборд</h1>
</MainLayout>
